<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ path '/bundle.css' }}">
	<title>Preview</title>
</head>
<body>

{{{ yield }}}

<script src="{{ path '/bundle.js' }}"></script>
</body>
</html>
